{% extends "bootstrap/base.html" %}
{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block styles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css">
{% endblock %}
{% block scripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="static/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $('#login-modal').on('shown.bs.modal', function () {
            $('#username').focus();
        });
    </script>
{% endblock %}
{% block title %}Simple Bookstore App{% endblock %}
{% block content %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BookInfo Sample</a>
        </div>
        {% if user: %}
            <p class="navbar-text navbar-right">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                <span style="padding-left: 5px;">{{ user }} ( <a href="logout">sign out</a> )</span>
            </p>
        {% else %}
            <button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" href="#login-modal">Sign
                in</button>
        {% endif %}
    </div>
</nav>

<!---
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">Microservices Fabric BookInfo Demo</a>
    </div>
    <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
{% if user %}
      <a href="logout"><button type="button" class="btn btn-default navbar-btn pull-right">Sign out</button></a>
      <p class="navbar-text pull-right">Signed in as {{ user }}</p>
{% else %}
      <button type="button" class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#login-modal">Sign in</button>
{% endif %}
    </div>
  </div>
</div>
-->

<div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please sign in</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='login' name="login_form">
                    <p><input type="text" class="form-control" name="username" id="username" placeholder="User Name"></p>
                    <p><input type="password" class="form-control" name="passwd" placeholder="Password"></p>
                    <p>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </p>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card-top" style="border-bottom: 2px solid #333;
    padding-left: auto;
    padding-right: auto;
    min-height: 160px;
    margin-top: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .25s box-shadow;
    transition: .25s box-shadow;">
            <div class="col-md-12">
                <h2 class="text-center text-primary" style="margin-bottom: 20px;
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 30px;">{{ product.title }}</h2>
                {% autoescape false %}
                <p style="font-size: 14px;
        font-weight: 500;
        font-family: sans-serif;">Summary: {{ product.descriptionHtml }}</p>
                {% endautoescape %}
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 32px;">
        <div class="col-md-6 " style="padding-left: 0px;">
            <div  style="border-bottom: 2px solid #333;
      padding-left: auto;
      padding-right: auto;
      min-height: 160px;
      margin-top: 15px;
      border-radius: 4px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -webkit-transition: .25s box-shadow;
      transition: .25s box-shadow;  padding: 10px 20px;">
                {% if detailsStatus == 200: %}
                    <h4 class="text-center text-primary" style="text-transform: uppercase;
        background-color: #337ab7;
        font-size: 19px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
        padding: 11px;">Book Details</h4>
                    <div class="row " style=" margin-top: 20px;">
                        <div class="col-md-4">
                            <dt style="    margin-bottom: 5px;
            font-weight: 700;
            font-family: sans-serif;
            border-left: 3px solid #337abd;
            padding: 0px 10px 0px;">Type:</dt>{{ details.type }}
                        </div>
                        <div class="col-md-4">
                            <dt style="    margin-bottom: 5px;
            font-weight: 700;
            font-family: sans-serif;
            border-left: 3px solid #337abd;
            padding: 0px 10px 0px;">Pages:</dt>{{ details.pages }}
                        </div>
                        <div class="col-md-4">
                            <dt  style="    margin-bottom: 5px;
            font-weight: 700;
            font-family: sans-serif;
            border-left: 3px solid #337abd;
            padding: 0px 10px 0px;">Publisher:</dt>{{ details.publisher }}
                        </div>
                    </div>

                    <div class="row" style=" margin-top: 20px;">
                        <div class="col-md-4">
                            <dt style="    margin-bottom: 5px;
            font-weight: 700;
            font-family: sans-serif;
            border-left: 3px solid #337abd;
            padding: 0px 10px 0px;">Language:</dt>{{ details.language }}
                        </div>
                        <div class="col-md-4">
                            <dt style="    margin-bottom: 5px;
            font-weight: 700;
            font-family: sans-serif;
            border-left: 3px solid #337abd;
            padding: 0px 10px 0px;">ISBN-10:</dt>{{ details['ISBN-10'] }}
                        </div>
                        <div class="col-md-4">
                            <dt style="    margin-bottom: 5px;
            font-weight: 700;
            font-family: sans-serif;
            border-left: 3px solid #337abd;
            padding: 0px 10px 0px;">ISBN-13:</dt>{{ details['ISBN-13'] }}
                        </div>
                    </div>
                    <div class="row" style=" margin-top: 20px;">
                        <div class="col-md-12">
                            <dt style="    margin-bottom: 5px;
            font-weight: 700;
            font-family: sans-serif;
            border-left: 3px solid #337abd;
            padding: 0px 10px 0px;">Download:</dt><a class="book_link" href={{ purchase['link'] }}
                                target="_blank">{{ purchase['link'] }}</a>
                        </div>
                    </div>

                {% else %}
                    <h4 class="text-center text-primary" style=" text-transform: uppercase;
        background-color: #337ab7;
        font-size: 19px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
        padding: 11px;">Error fetching product details!</h4>
                    {% if details: %}
                        <p style=" font-size: 14px;
        font-weight: 500;
        font-family: sans-serif;">{{ details.error }}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-6" style="padding-right: 0px;">
            <div style="border-bottom: 2px solid #333;
      padding-left: auto;
      padding-right: auto;
      min-height: 160px;
      margin-top: 15px;
      border-radius: 4px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -webkit-transition: .25s box-shadow;
      transition: .25s box-shadow;  padding: 10px 20px;">

                {% if reviewsStatus == 200: %}
                    <h4 class="text-center text-primary" style=" text-transform: uppercase;
        background-color: #337ab7;
        font-size: 19px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
        padding: 11px;">Book Reviews</h4>
                    {% for review in reviews.reviews %}
                        <blockquote>
                            <p style=" font-size: 14px;
          font-weight: 500;
          font-family: sans-serif;">{{ review.text }}</p>
                            <small>{{ review.reviewer }}</small>
                            {% if review.rating: %}
                                {% if review.rating.stars: %}
                                    <font color="{{ review.rating.color }}">
                                        <!-- full stars: -->
                                        {% for n in range(review.rating.stars) %}
                                            <span class="glyphicon glyphicon-star"></span>
                                        {% endfor %}
                                        <!-- empty stars: -->
                                        {% for n in range(5 - review.rating.stars) %}
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        {% endfor %}
                                    </font>
                                {% elif review.rating.error: %}
                                    <p style=" font-size: 14px;
          font-weight: 500;
          font-family: sans-serif;"><i>{{ review.rating.error }}</i></p>
                                {% endif %}
                            {% endif %}
                        </blockquote>
                    {% endfor %}
                {% else %}
                    <h4 class="text-center text-primary" style=" text-transform: uppercase;
        background-color: #337ab7;
        font-size: 19px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
        padding: 11px;">Error fetching product reviews!</h4>
                    {% if reviews: %}
                        <p style=" font-size: 14px;
        font-weight: 500;
        font-family: sans-serif;">{{ reviews.error }}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
